*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    padding-top: 40px;
}
body{
    background-color: #EDF3F8;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin:  0 auto;
    padding: 0 20px;
}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 39px;
}
.header__link{
    color: #36536b;
    font-family: "Public Sans";
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
}
.header__btn{
    max-width: 180px;
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    background-color: rgb(186, 66, 112);
    color: rgb(251, 252, 254);
    font-family: Public Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.12px;
    border: none;
    padding: 15px ;
}
@media (max-width:600px){
    .header__list{
        display: none;
    }
}
